@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --ink: #0b2f6f;
  /* bleu du contour/texte */
  --bg: #e9eaee;
  /* fond gris clair */
  --theBLue: ;
  --card-bg: #ffffff;
  /* fond carte */
  --radius: 22px;
  /* arrondi cartes */
  --border: 3px;
  /* épaisseur bordure */
  --shadow: 0 12px 30px rgba(0, 0, 0, .08);
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(135deg, rgba(3, 31, 115, 1) 0%, rgba(3, 17, 64, 1) 22%, rgba(3, 17, 64, 1) 74%, rgba(3, 31, 115, 1) 100%);
  background-attachment: fixed;
  padding: 10px 40px;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  position: relative;
  z-index: 1;
  margin-top: 45px;
  height: 120px;
  transition: height 0.1s ease, height 0.4s ease;
  animation: pulseLogo 2.5s ease-in-out infinite;
}

.logo img:hover {
  animation-play-state: paused;
  height: 150px;

}

.logo .shadow {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 60px;
  height: 60px;
  background-color: #031F73;

  border-radius: 15px;
  z-index: 0;
  transition: box-shadow 0.3s ease;
}

.logo:hover .shadow {
  box-shadow: 0 0 48px 25px #fdc808;

}

@keyframes pulseLogo {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.nav-links {
  display: flex;

  justify-content: space-between;
  width: 70vw;
}

.nav-links a {

  color: #FDC808;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  font-size: 18px;
  transition: font-size 0.4s ease;
}

.nav-links a:hover {
  font-size: 25px;
  color: #c49000;
}


/*__________________search section _________*/

/* full screen section */
.search-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg3.webp");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

}

/* search bar style */
.search-bar {
  display: flex;
  border: 2px solid #031F73;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 70%;
  height: 15%;
}

/* inputs */
.search-bar input {
  border: none;
  border-right: 2px solid #031F73;
  padding: 12px 16px;
  font-size: 14px;
  color: #031F73;
  font-family: 'Orbitron', sans-serif;
  outline: none;
}

.search-bar input::placeholder {
  color: #031F73;
}

/* button */
.search-bar button {
  background-color: #FDC808;
  color: #031F73;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  border: none;
  padding: 0 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* hover */
.search-bar button:hover {
  background-color: #c49000;
  transform: scale(1.05);
}

/* mobile version */
@media (max-width: 700px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar input,
  .search-bar button {
    border-right: none;
    border-bottom: 2px solid #031F73;
  }

  .search-bar button {
    border-bottom: none;
  }
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.selection-section {
  min-height: 100vh;
  padding: 60px 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  width: 100%;
}

.selection-title {
  font-size: clamp(2.6rem, 4vw, 3.5rem);
  letter-spacing: 0.08em;
  text-transform: lowercase;
  color: #002c7f;
  margin-bottom: 40px;
}

/* WRAPPER + CARTES */

.selection-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8rem;
}

.card {
  max-width: 320px;
  text-align: left;
}

/* IMAGE + PRIX */

.card-image {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
}

.card-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* BADGE PRIX */

.price-tag {
  position: absolute;
  right: 14px;
  bottom: 14px;
  background-color: #002c7f;
  color: #ffffff;
  padding: 8px 16px 10px;
  border-radius: 12px 12px 18px 18px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.price-label {
  font-size: 0.7rem;
  text-transform: lowercase;
}

.price-value {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.price-per {
  font-size: 0.7rem;
  align-self: flex-end;
}

/* TEXTE DES CARTES */

.card-text {
  margin-top: 16px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #00154f;
}

.card-line1,
.card-line2,
.card-line3 {
  text-transform: lowercase;
}

.card-line1 {
  font-weight: 600;
  margin-bottom: 2px;
}

.card-line2 {
  margin-bottom: 2px;
}

/* BOUTONS DE NAVIGATION */

.nav-btn {
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffca08;
  color: #002c7f;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;

}

.nav-btn:hover {
  box-shadow: 10px 24px 10px rgba(0, 0, 0, 0.25);

}


.nav-btn:active {
  transform: translateY(2px);
}


/*---------voire plus 2v----------------*/

.magic-btn {
  position: relative;
  padding: 20px 35px;
  background: #ffca08;
  font-size: 20px;
  font-weight: 600;
  color: #031F73;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star {
  position: absolute;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star img {
  display: block;
  width: 100%;
  height: auto;
}

.star-1 {
  top: 20%;
  left: 20%;
  width: 25px;
}

.star-2 {
  top: 45%;
  left: 45%;
  width: 15px;
}

.star-3 {
  top: 40%;
  left: 40%;
  width: 5px;
}

.star-4 {
  top: 20%;
  left: 40%;
  width: 8px;
}

.star-5 {
  top: 25%;
  left: 45%;
  width: 15px;
}

.star-6 {
  top: 5%;
  left: 50%;
  width: 5px;
}

.magic-btn:hover {
  background: #031F73;
  color: #ffca08;
  box-shadow: 20px 24px 10px rgba(0, 0, 0, 0.25);

}

.magic-btn:active {
  transform: translateY(5px);
}


.magic-btn:hover .star {
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.magic-btn:hover .star-1 {
  top: -20%;
  left: -20%;
  width: 20px;
}

.magic-btn:hover .star-2 {
  top: 35%;
  left: -25%;
  width: 15px;
}

.magic-btn:hover .star-3 {
  top: 80%;
  left: -10%;
  width: 10px;
}

.magic-btn:hover .star-4 {
  top: -25%;
  left: 105%;
  width: 20px;
}

.magic-btn:hover .star-5 {
  top: 30%;
  left: 115%;
  width: 15px;
}

.magic-btn:hover .star-6 {
  top: 80%;
  left: 105%;
  width: 10px;
}


/* RESPONSIVE */

@media (max-width: 900px) {
  .selection-wrapper {
    flex-direction: row;
  }

  .nav-btn {
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
  }
}

@media (max-width: 700px) {
  .selection-section {
    padding: 40px 20px 60px;
  }

  .cards {
    gap: 20px;
  }

  .selection-wrapper {
    flex-direction: column;
  }
}

/*____________the footer sectiojn*/


footer {
  background-color: #00134b;
  color: #fdc808;
  width: 100%;
  height: 50vh;
}


/*-------------- VOIR NO CONSWELEZ SECTION------------------*/
#con-cards {
  width: 100%;
  height: 100vh;

}

#con-cards>h2 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Oregano', cursive, sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #00154f;
}

.cardsPieces {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
}

/*-----------card css------*/
#con-cards .card {
  overflow: visible;
  width: 290px;
  height: 354px;
}



#con-cards .content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

#con-cards .front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

#con-cards .back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #031f73;
}

#con-cards .back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #fdc808, #ffd028, #fdc808, #fdc808, transparent);
  animation: rotation_481 5000ms infinite linear;
}

#con-cards .back-content {
  position: absolute;
  width: 97%;
  height: 97%;
  background-color: #031f73;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#con-cards .back-content>p {
  color: #fdc808;
  font-family: 'Orbitron', sans-serif;
  ;
}

#con-cards .card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
  background-image: url(../images/IMG_2410.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(5);
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  padding: 2px 10px;
  border-radius: 10px;
  width: fit-content;
}

.description {
  box-shadow: none;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 0.8rem;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 0.8rem;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fdc808;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #fdc808;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*------------- section on manque de destination-----------------------*/
.montad {
  width: 100%;
  height: 30vh;
  min-height: 300px;
  background-image: url(../images/destinations.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
}

.montad h2 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Oregano', cursive, sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #00154f;

}

.montad h2 a {
  font-family: 'Oregano', cursive, sans-serif;

}

.montad h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #fdc808;
  text-shadow: 1px 5px 10px #00134b;

}

/*------------- section on manque de destination-----------------------*/
.profiles>h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #031F73;
}

.profiles {
  width: 100%;
  height: 100vh;
}

.carfs {
  display: flex;
  ;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0;
  width: 100%;
  gap: 15px;
}

/*_____________________*/
.profiles .carfs>.card {
  width: 400px;
  max-width: none;
  height: 70vh;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem 0;
  border: 3px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 0 20px;
}

.profiles .carfs>#etudiant {
  background-image: url("../images/etud.png");
  background-size: cover;

}

.profiles .carfs>#GAOSF {
  background-image: url("../images/gof.png");
  background-size: cover;

}

.profiles .carfs>#saad {
  background-image: url("../images/saad.jpg");
  background-size: cover;

}

.carfs .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carfs .card-details img {
  width: 100%;
  height: 49vh;
}

.carfs .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #031f73;
  color: #ffca08;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.carfs .text-body {
  color: #031F73;
  font-weight: bold;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.334);
}

/*Text*/
.carfs .text-title {
  font-size: 1.5em;
  font-weight: bolder;
  color: #031F73;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.334);
}

/*Hover*/
.carfs .card:hover {
  border-color: #031F73;
  box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);

}

.carfs .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/*--------------------------------- THE NEWSLETTER SECTION --------------------*/

section#newletter {
  background: #f3f3f3;
  padding: 40px 0;
}

/* Conteneur */
section#newletter>main>.containe-news {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}ƒƒ

/* Titre centré */
section#newletter>main>.containe-news>.news-title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

section#newletter>main>.containe-news>.news-title>h2 {
  font-size: clamp(1.9rem, 2.8vw, 2.8rem);
  font-weight: 700;
  color: #031F73;
  text-align: center;
  display: flex;
  gap: 14px;
  align-items: center;
  flex-wrap: wrap;
}



/* Grille 2 colonnes */
section#newletter>main>.containe-news>.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

/* Colonne gauche */
section#newletter>main>.containe-news>.news-grid>.news-left {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Input + bouton type "pill" */
section#newletter>main>.containe-news>.news-grid>.news-left>#input {
  width: min(620px, 100%);
  background: #fff;
  border-radius: 999px;
  padding: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

/* Champ */
section#newletter>main>.containe-news>.news-grid>.news-left>#input>input {
  flex: 1;
  border: none;
  outline: none;
  padding: 18px 22px;
  font-size: 1rem;
  background: transparent;
  color: #111;
  border-radius: 999px;
}

/* Bouton noir */
section#newletter>main>.containe-news>.news-grid>.news-left>#input>button {
  border: none;
  cursor: pointer;
  background: #031F73;
  color: #fdc808;
  padding: 14px 36px;
  border-radius: 999px;
  font-size: 0.95rem;
  letter-spacing: 0.06em;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

section#newletter>main>.containe-news>.news-grid>.news-left>#input>button:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}

/* Lien confidentialité */
section#newletter>main>.containe-news>.news-grid>.news-left>.privacy {
  font-size: 0.95rem;
  color: #031F73;
  text-decoration: underline;
  width: fit-content;
}

/* Colonne droite */
section#newletter>main>.containe-news>.news-grid>.news-right>p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #4a4a4a;
  max-width: 560px;
}

/* "En savoir plus" */
section#newletter>main>.containe-news>.news-grid>.news-right>p>.more {
  color: #111;
  text-decoration: underline;
  font-size: 0.95rem;
  margin-left: 6px;
  white-space: nowrap;
}

/* Responsive */
@media (max-width: 900px) {
  section#newletter>main>.containe-news>.news-grid {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  section#newletter>main>.containe-news>.news-grid>.news-right>p {
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  section#newletter {
    padding: 50px 0;
  }

  section#newletter>main>.containe-news {
    padding: 0 18px;
  }

  section#newletter>main>.containe-news>.news-grid>.news-left>#input {
    flex-direction: column;
    border-radius: 22px;
    padding: 10px;
    gap: 10px;
  }

  section#newletter>main>.containe-news>.news-grid>.news-left>#input>button {
    width: 100%;
  }
}