* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #031F73; 
  padding: 10px 40px;
  height: 10vh;
}
.logo {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
 position: relative;
   z-index: 1;
  margin-top: 45px;
  height: 120px;
  transition: height 0.1s ease, height 0.4s ease;
  animation: pulseLogo 2.5s ease-in-out infinite; 
}

.logo img:hover {
    animation-play-state: paused;
    height : 150px;

}
.logo .shadow {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 60px;
  height: 60px;
  background-color: #031F73;
   
  border-radius: 15px;
  z-index: 0; 
  transition: box-shadow 0.3s ease;
}
.logo:hover .shadow{
    box-shadow: 0 0 48px 25px  #fdc808;

}

@keyframes pulseLogo {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.nav-links{
    display: flex;
  
  justify-content: space-between;
  width: 70vw;
}
.nav-links a {
  
  color: #FDC808; 
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  font-size: 18px;
  transition: font-size 0.4s ease;
}

.nav-links a:hover {
  font-size: 25px;
  color :#c49000;
}


/*__________________search section _________*/

/* full screen section */
.search-section {
  height: 90vh; /* fills the entire visible height of the device */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* change if you want a background image or color */
}

/* search bar style */
.search-bar {
  display: flex;
  border: 2px solid #031F73;
  background-color: #fff;
  overflow: hidden;
}

/* inputs */
.search-bar input {
  border: none;
  border-right: 2px solid #031F73;
  padding: 12px 16px;
  font-size: 14px;
  color: #031F73;
  width: 180px;
  font-family: 'Orbitron', sans-serif;
  outline: none;
}

.search-bar input::placeholder {
  color: #031F73;
}

/* button */
.search-bar button {
  background-color: #FDC808;
  color: #031F73;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  border: none;
  padding: 0 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* hover */
.search-bar button:hover {
  background-color: #c49000;
  transform: scale(1.05);
}

/* mobile version */
@media (max-width: 700px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar input,
  .search-bar button {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #031F73;
  }

  .search-bar button {
    border-bottom: none;
  }
}
