@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import url('./standard.css');
#nous-section{
    min-height: 100vh;
    max-height: fit-content;
    background-image: url(../images/background1.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#nous-section .whoami{
    margin-top: 20vh;
    min-height: 70vh;
    width: min(70%,1000px) ;
    max-height: fit-content;
    background-color: #031140;
    animation: floatsection 2.5s ease-in-out infinite   ;
    box-shadow: 0 6px 20px 10px #00000056;
    border-radius: 1.5rem;
    background-image: url(../images/image4.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    color: #c1d8ff;
    padding: 3rem;

    
}

#nous-section .whoami h1{
        color: #c1d8ff;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    text-shadow: 0 0 8px black;

}
#nous-section .whoami h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 1rem;
        text-shadow: 0px 0px 8px black;

}
#nous-section .whoami #imp-doc{
    width: 50%;
    position: relative;
    float: left;
    margin: 0 3rem;
    border-radius: 2rem;
}
#naissance{
    display: block;
    margin:  0px auto;
    width: 80%;
    border-radius: 2rem;
}
#nous-section .whoami p{
    padding: 2rem;
    font-size: 1.3rem;
}









#ou-section{
    min-height: 100vh;
    max-height: fit-content;
    background-image: url(../images/background1.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#ou-section h1{
        color: #c1d8ff;
    text-align: center;
    font-size: 2rem;
    padding: 5rem 0;
    text-shadow: 0 0 40px  rgba(154, 176, 255, 0.917);
}


iframe{
    transition: transform 0.3s ease-out;
}
iframe:hover{
    transform: scale(1.1);
}



@keyframes floatsection {
  0% {
    transform: translateY(0px);
        box-shadow: 0px 10px 10px 5px #93ace9a2;

  }

  50% {
    transform: translateY(-15px);
    box-shadow: 0px 20px 20px 13px #93ace9a2;

  }

  100% {
    transform: translateY(0px);
    box-shadow: 0px 10px 10px 5px #93ace9a2;

  }
}
@media (max-width:769px) {
    .whoami{
        width: 95%;
    }
    
    
}
