@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import url('./standard.css');


#res-form{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/espace.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
section#res-form > *:not(body){
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 30px;
  width: 420px;
  border-radius: 20px;
   border: 2px solid rgba(255,255,255,0.2);
}

section#res-form h1{
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

#res-form .input-box{
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
#res-form .input-box-bouton{
  width: 50%;
  position: relative;
  margin-bottom: 25px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 7px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: 0.5s;
}

#res-form .input-box-bouton:hover {
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.2);
  color: #fff;
}

#res-form .input-box input, select{
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  outline: none;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.2);
  color: #fff;
  padding-right: 40px;
}

#res-form .input-box input::placeholder{
  color: #fff;
}


