@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');
@import url('./standard.css');